.site-tags {

  $overwrite-color:     #3971ff;
  $clicked-color:     #29eaffd1;
  .tag-button {
    @include clickable($text-color-3,  $main-color-3 default, default, $text-color-2, $clicked-color, $text-color-2, $clicked-color);
    & > .tag-button__count {
      display: inline-block;
      margin-left: map-get($spacers, 1);
      font-size: map-get($base, font-size-xs);
      line-height: 1;
      vertical-align: top;
    }
  }
  .tag-button-1 {
    @include clickable($text-color-1, rgba($overwrite-color, .4), default, default, $text-color-2,$clicked-color $text-color-2,$clicked-color);
  }
  .tag-button-2 {
    @include clickable($text-color-1, rgba($overwrite-color, .55), default, default, $text-color-2,$clicked-color, $text-color-2,$clicked-color);
  }
  .tag-button-3 {
    @include clickable($text-color-1, rgba($overwrite-color, .7), default, default, $text-color-2,$clicked-color, $text-color-2,$clicked-color);
  }
  .tag-button-4 {
    @include clickable($text-color-1, rgba($overwrite-color, .9), default, default, $text-color-2,$clicked-color, $text-color-2,$clicked-color);
  }
}
